--body {
    --padding-top: 200px;
    --background-color: yellow;
    background-image: url("../ressource/Hintergrund_1.jpg");
}

input {
    width: 100%;
    max-width: 420px;
    --margin: auto;
    margin-bottom: 10px;
}

select {
    width: 100%;
    max-width: 420px;
}

--div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-brand {
    font-family: 'Satisfy', cursive
}

.ul-li {
    padding: 0rem 0rem 0rem 1rem;
}

.ul-ri {
    padding: 0rem 1rem 0rem 0rem;
}

.li {
    padding: 0rem 0.5rem;
}

.scr {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30%;
    overflow-y: scroll;
}

.width_20 {
    width: 20%;
}

.float_right {
    float: right;
}

.margin_left {
    margin-left: 10px;
}

#img_1 {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#img_2 {
    width: 30px;
    height: 30px;
}

#id_username {
    display: block;
    margin: auto;
}

#id_password {
    display: block;
    margin: auto;
}

#id_email .col-sm-2 {
    max-width: 25%;
}

#id_old_password .col-sm-2 {
    flex: 0 0 25%;
    max-width: 25%;
}

#id_new_password1 .col-sm-2 {
    flex: 0 0 25%;
    max-width: 25%;
}

#id_new_password2 .col-sm-2 {
    flex: 0 0 25%;
    max-width: 25%;
}

#bt_up {
    margin-top: 20px;
}

#bt_dw {
    margin-bottom: 20px;
}

#stockbuch {
    background-color: #dbdbdb;
}