body {
  background-image: url("Hintergrund_1.jpg");
  background-color: yellow;
}

header {
  margin-top: 200px;
}

main {
  margin-left: 100px;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin-left: -55px;
}

li {
  margin-bottom: 10px;
}

input {
  width: 200px;
}
