body {
  padding-top: 200px;
  background-color: yellow;
  background-image: url("Hintergrund_1.jpg");
}

img {
  width:200px;
  height:100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
width: 100%;
max-width: 330px;
margin: auto;
margin-bottom: 10px;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
}
