{% extends 'base.html' %}

{% block title %}
{{ block.super }} - {{ beekeeping.name }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Imkereien</a></li>
<li class="breadcrumb-item"><a href="{% url 'beekeeping_locations' beekeeping.pk %}">{{ beekeeping.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'location_hives' location.pk %}">{{ location.address }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'hive_actions' hive.pk %}">{{ hive.name }}</a></li>
<li class="breadcrumb-item active">Aktionen</li>
{% endblock %}

{% block content %}
<div class="mb-4">
    <a href="{% url 'new_hive' location.pk %}" class="btn btn-primary">Neue Aktion erstellen</a>
</div>

<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Aktion</th>
        </tr>
    </thead>
    <tbody>
        {% for action in hive.actions.all %}
        <tr>
            <td>{{ action.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}