﻿{% extends 'base.html' %}

{% load static %}

{% block body %}
  <div class="container">
    <h1 class="text-center">
      <a href="{% url 'index' %}">BeBee</a>
    </h1>
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}