﻿{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    {{ block.super }} - Fütterung
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'hive' hive.name %}">Volk: {{ hive.name }}</a></li>
  <li class="breadcrumb-item active">Fütterung Nummer: {{ feeding.pk }}</li>
{% endblock %}

{% block content %}
  <form method="get" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
  </form>
{% endblock %}