﻿{% extends 'base.html' %}
{% load qr_code %}

{% block title %}
    {{ block.super }} - Bienenvolk {{ hive.name }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Bienenvölker</a></li>
  <li class="breadcrumb-item">Bienenvolk {{ hive.name }}</li>
  <li class="ml-auto"><a class="btn btn-primary" href="{% url 'edit_hive' hive.name %}">Bearbeiten</a></li>
  <li><a class="btn btn-danger margin_left" href="{% url 'delete_hive' hive.name %}" onclick="return confirm('Sind Sie sicher dass sie das löschen wollen?')">Löschen</a></li>
{% endblock %}

{% block content %}
  <div class="row">
    <ul class="col-6 list-group ul-li">
      <li class="list-group-item li">
        <label class="col-row text-secondary">Name:</label>
        <span>{{ hive.name }}</span>
        <span class="float_right"><a class="btn btn-primary" href="{% url 'edit_hive_name' hive.name %}">Bearbeiten</a></span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Art:</label>
        <span>{{ hive.hiveType }}</span>
      </li>  
      <li class="list-group-item li">
        <label class="col-row text-secondary">Königin Nr. :</label>
        <span>{{ hive.beeQueenNr }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Königin Geburtsjahr:</label>
        <span>{{ hive.beeQueenBirthDate }}</span>
      </li>
      <li class="list-group-item li" >
        <label class="col-row text-secondary">Königin markiert:</label>
        <span>{{ hive.beeQueenMarked|yesno:"Ja,Nein" }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Sanftmut:</label>
        <span>{{ hive.gentleness }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Wabentreue:</label>
        <span>{{ hive.honeyCombFaithful }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Schwarmträgheit:</label>
        <span>{{ hive.swarmInertia }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Stechlust:</label>
        <span>{{ hive.stingingLoss }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Standort:</label>
        <span>{{ hive.location }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Imkerei:</label>
        <span>{{ hive.beekeeping }}</span>
      </li>
    </ul>
    <ul class="col-6 list-group">
      <li class="list-group-item li">
        <label class="col-row text-secondary">Drohenrahmen:</label>
        <span>{{ hive.droneFrame }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Brutrahmen:</label>
        <span>{{ hive.brutFrame }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Leerrahmen:</label>
        <span>{{ hive.emptyFrame }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Futterrahmen:</label>
        <span>{{ hive.feedFrame }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Mittelrandrahmen:</label>
        <span>{{ hive.mediumWallFrame }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Honigzarge:</label>
        <span>{{ hive.honeyFrame }}</span>
      </li>        
      <li class="list-group-item li">
        <label class="col-row text-secondary">Leerzarge:</label>
        <span>{{ hive.emptyBox }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Bienenflucht:</label>
        <span>{{ hive.beesEscape|yesno:"Ja,Nein" }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Fluglochkeil:</label>
        <span>{{ hive.flightHoleWedge }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Absperrgitter:</label>
        <span>{{ hive.fence|yesno:"Ja,Nein" }}</span>
      </li>
      <li class="list-group-item li">
        <label class="col-row text-secondary">Windel:</label>
        <span>{{ hive.diaper|yesno:"Ja,Nein" }}</span>
      </li>
    </ul>
  </div>
  <div class="form-control">
    <label class="text-secondary">Notizen:</label>
    <p class="text-dark">{{ hive.notes }}</p>
  </div>
    <div class="container">
      <nav id="stockbuch" class="navbar form-control navbar-expand-lg my-4">
        <span class="navbar-brand">Stockbuch</span>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button class="nav-link btn btn-success dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Neue Aktion</button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'new_observation' hive.name %}">Neue Beobachtung</a>
              <a class="dropdown-item" href="{% url 'new_laborprocess' hive.name %}">Neuer Arbeitsvorgang</a>
              <a class="dropdown-item" href="{% url 'new_treatment' hive.name %}">Neue Behandlung</a>
              <a class="dropdown-item" href="{% url 'new_feeding' hive.name %}">Neue Fütterung</a>
              <a class="dropdown-item" href="{% url 'new_harvest' hive.name %}">Neue Ernte</a>
            </div>           
          </li>
        </ul>
      </nav>
      <table class="table">
        <tbody>
          {% for action in actions %}
            <tr>
              {% if action.action_type == 'Beobachtung' %}
              <td class="width_20"><a href="{% url 'observation' hive.name action.action_id %}">{{ action.action_type }}</a>
                <div>{{ action.executed_by }}</div>
                <div class="text-secondary">{{ action.executed_at }}</div>
              </td>               
              <td>{{ action.notes }}</td>          
              <td class="width_20"><a class="btn btn-danger float_right" href='{% url 'delete_action' action.action_type action.action_id %}' onclick="return confirm('Sind Sie sicher dass sie das löschen wollen?')">Löschen</a></td>
              {% elif action.action_type == 'Arbeitsvorgang' %}
              <td class="width_20"><a href="{% url 'laborProcess' hive.name action.action_id %}">{{ action.action_type }}</a>
                <div>{{action.executed_by}}</div>  
                <div class="text-secondary">{{ action.executed_at }}</div>
              </td>                
              <td>{{ action.notes }}</td>
              <td class="width_20"><a class="btn btn-danger float_right" href='{% url 'delete_action' action.action_type action.action_id %}' onclick="return confirm('Sind Sie sicher dass sie das löschen wollen?')">Löschen</a></td>
              {% elif action.action_type == 'Behandlung' %}
              <td class="width_20"><a href="{% url 'treatment' hive.name action.action_id %}">{{ action.action_type }}</a>
                <div>{{action.executed_by}}</div>
                <div class="text-secondary">{{ action.executed_at }}</div>
              </td>                
              <td>{{ action.notes }}</td>
              <td class="width_20"><a class="btn btn-danger float_right" href='{% url 'delete_action' action.action_type action.action_id %}' onclick="return confirm('Sind Sie sicher dass sie das löschen wollen?')">Löschen</a></td>
              {% elif action.action_type == 'Fütterung' %}
              <td class="width_20"><a href="{% url 'feeding' hive.name action.action_id %}">{{ action.action_type }}</a>
                <div>{{action.executed_by}}</div>  
                <div class="text-secondary">{{ action.executed_at }}</div>
              </td>                
              <td>{{ action.notes }}</td>
              <td class="width_20"><a class="btn btn-danger float_right" href='{% url 'delete_action' action.action_type action.action_id %}' onclick="return confirm('Sind Sie sicher dass sie das löschen wollen?')">Löschen</a></td>
              {% elif action.action_type == 'Ernte' %}
              <td class="width_20"><a href="{% url 'harvest' hive.name action.action_id %}">{{ action.action_type }}</a>
                <div>{{action.executed_by}}</div>
                <div class="text-secondary">{{ action.executed_at }}</div>
              </td>                
              <td>{{ action.notes }}</td>
              <td class="width_20"><a class="btn btn-danger float_right" href='{% url 'delete_action' action.action_type action.action_id %}' onclick="return confirm('Sind Sie sicher dass sie das löschen wollen?')">Löschen</a></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

{% qr_from_text pageUrl %}
{% endblock %}
