﻿{% extends 'base.html' %}


{% block title %}
    {{ block.super }} - Bienenvölker
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Bienenvölker</li>
  <li class="ml-auto right"><div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter</button>
      <div class="dropdown-menu">
        {% for location in all_locations %}
        <a class="dropdown-item" href="{% url 'index_locationfilter' location.name %}">{{ location.name }}</a>                          
        {% endfor %}
        <a class="dropdown-item" href="{% url 'index' %}">alle</a>
      </div>
    </div>
  </li>
{% endblock %}

{% block content %}
<!--<div class="container">
  <div class="row">
    <div id="filter-panel" class="collapse filter-panel">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-inline" role="form">
            <div class="form-group">
              {% for location in all_locations %}
              <a href="{% url 'index_locationfilter' location.name %}">{{ location.name }}</a>                          
              {% endfor %}
              <a href="{% url 'index' %}">alle</a> 
            </div>                       
          </form>
        </div>
      </div>
    </div>    
      <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel">
        <span class="glyphicon glyphicon-cog">Filter</span>
      </button>
	</div>
</div>-->
<div class="form-control scr">
  <div class="row">
  {% for hive in all_hives %}
    <a class="form-control col-3" href="{% url 'hive' hive.name %}">
      <span class="text-muted d-block">{{ hive.name }}</span>  
      <span class="text-muted d-block">{{ hive.location.name }}</span>
      <span class="text-muted d-block">{{ hive.notes|slice:":50" }}</span>
    </a>
  {% endfor %}
  </div>
</div>
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Newsfeed</li>
  </ol>
</nav>
<div class="form-control scr">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Typ</th>
          <th>Datum</th>
        </tr>
      </thead>
      <tbody>
        {% for action in actions %}
            <tr>
              {% if action.action_type == 'Beobachtung' %}
              <td><a href="{% url 'observation' action.hive.name action.action_id %}">{{ action.action_type }}</a>
                <div>{{ action.hive.name}}</div>
                <div>{{ action.executed_by}}</div>
              </td> 
              <td>{{ action.executed_at }}</td>
              <td><a class="btn btn-danger float_right" href='{% url 'delete_newsfeed' action.action_type action.action_id %}' onclick="return confirm('Sind Sie sicher dass sie das löschen wollen?')">Löschen</a></td>
                {% elif action.action_type == 'Arbeitsvorgang' %}
                <td><a href="{% url 'laborProcess' action.hive.name action.action_id %}">{{ action.action_type }}</a>
                  <div>{{ action.hive.name}}</div>
                  <div>{{ action.executed_by}}</div>
                </td>
                <td>{{ action.executed_at }}</td>
                <td><a class="btn btn-danger float_right" href='{% url 'delete_newsfeed' action.action_type action.action_id %}' onclick="return confirm('Sind Sie sicher das sie das löschen wollen?')">Löschen</a></td>
                {% elif action.action_type == 'Behandlung' %}
                <td><a href="{% url 'treatment' action.hive.name action.action_id %}">{{ action.action_type }}</a>
                  <div>{{ action.hive.name}}</div>
                <div>{{ action.executed_by}}</div>
              </td>
              <td>{{ action.executed_at }}</td>
              <td><a class="btn btn-danger float_right" href='{% url 'delete_newsfeed' action.action_type action.action_id %}' onclick="return confirm('Sind Sie sicher das sie das löschen wollen?')">Löschen</a></td>
              {% elif action.action_type == 'Fütterung' %}
              <td><a href="{% url 'feeding' action.hive.name action.action_id %}">{{ action.action_type }}</a>
                <div>{{ action.hive.name}}</div>
                <div>{{ action.executed_by}}</div>
              </td>
              <td>{{ action.executed_at }}</td>
              <td><a class="btn btn-danger float_right" href='{% url 'delete_newsfeed' action.action_type action.action_id %}' onclick="return confirm('Sind Sie sicher das sie das löschen wollen?')">Löschen</a></td>
              {% elif action.action_type == 'Ernte' %}
              <td><a href="{% url 'harvest' action.hive.name action.action_id %}">{{ action.action_type }}</a>
                <div>{{ action.hive.name}}</div>
                <div>{{ action.executed_by}}</div>
              </td>
              <td>{{ action.executed_at }}</td>
              <td><a class="btn btn-danger float_right" href='{% url 'delete_newsfeed' action.action_type action.action_id %}' onclick="return confirm('Sind Sie sicher das sie das löschen wollen?')">Löschen</a></td>
              {% endif %}
            </tr>
          {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}