﻿{% extends 'base.html' %}

{% block title %}
  {{ block.super }} - {{ beekeeping.name }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Standorte</li>
{% endblock %}

{% block content %}

    <div class="mb-4">
      <a href="{% url 'new_location' %}" class="btn btn-primary">Neuen Standort erstellen</a>
    </div>

    <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Standort</th>
        <th>Beschreibung</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for location in beekeeping.locations.all %}
        <tr>
          <td>{{ location.name }}</td>
          <td>{{ location.description }}</td>
          <td><a class="btn btn-danger float_right" href="{% url 'delete_location' location.pk %}" onclick="return confirm('Sind Sie sicher dass sie das löschen wollen?')">Löschen</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}