﻿{% extends 'base_accounts.html' %}    

<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    {% block title %}
    {{ block.super }} - {{ "Login" }}
    {% endblock %}
  {% block content %}
    <main class="text-center">
    <img id="img_1" src="https://cdn.pixabay.com/photo/2016/12/22/13/45/bee-1925504_960_720.png" class="mx-auto d-block" alt="Bienen Logo"/>

    <h2>Bee Welcome!</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {% include 'includes/form.html' %}
      <button id="bt_up" type="submit" class="btn btn-secondary">Einloggen</button>
    </form>
    <div><a href="{% url 'password_reset' %}">Passwort vergessen</a></div>
    </main>

  {% endblock %}

