﻿{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Mein Account
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Mein Account</li>
{% endblock %}

{% block content %}
    <a href="{% url 'password_change' %}" class="btn btn-primary">Change password</a>  
{% endblock %}
