﻿{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    {{ block.super }} - Neue Behandlung
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'hive' hive.name %}">Volk: {{ hive.name }}</a></li>
  <li class="breadcrumb-item active">Neue Behandlung</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Erstellen</button>
  </form>
{% endblock %}