﻿{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    {{ block.super }} - Neues Bienenvolk
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Bienenvölker</a></li>
  <li class="breadcrumb-item active">Neuer Bienenstock</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Erstellen</button>
  </form>
{% endblock %}